<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <style>
        table {
            border-collapse: collapse;
            width: auto;
        }
        th, td {
            border: 2px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: skyblue;
        }
    </style>
</head>
<body>
<h1>List of cars </h1>
<table>
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Model</th>
        <th scope="col">releaseDate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getName()}">
        <td th:text="${car.getModel()}">
        <td th:text="${car.getReleaseDate()}">
    </tr>
    </tbody>
</table>
</body>
</html>



